@model IEnumerable<FBru.DTO.KeywordDto>
@{
    ViewBag.Title = "Keywords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("~/content/datatables")
}
<div class="row">
    <div class="col-sm-12">
        @Html.AntiForgeryToken()
        <div class="form-group">@Html.ActionLink("CREATE KEYWORD", "Create", null, new {@class = "btn btn-success btn-sm"})</div>
        <table id="keywordsTable" class="table table-bordered table-responsive table-striped" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-sm btn-warning"})
                        @Html.ActionLink("Detail", "Detail", new {id = item.Id}, new {@class = "btn btn-sm btn-info"})
                        <button class="btn btn-sm btn-danger btn-delete" data-keyword-id="@item.Id">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function() {
            var table = $("#keywordsTable").DataTable({
                responsive: true
            });

            $("#keywordsTable .btn-delete").on("click",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this keyword?",
                        function(result) {
                            if (result) {
                                var addAntiForgeryToken = function(data) {
                                    data.__RequestVerificationToken = $("[name='__RequestVerificationToken']").val();
                                    return data;
                                };
                                $.ajax({
                                    url: "/Keywords/Delete",
                                    data: addAntiForgeryToken({ id: button.attr("data-keyword-id") }),
                                    method: "POST"
                                }).done(function() {
                                    table.row(button.parents("tr")).remove().draw();
                                    toastr.success("Removed successfully that keyword!");
                                }).fail(function() {
                                    toastr.error("Something unexpected happend!");
                                });
                            }
                        });
                });
        });
    </script>
}